
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul class="nav flex-column nav-pills">
    <li class="nav-item active">@Html.ActionLink("Home", "Index", "Three")</li>
    <li class="nav-item">@Html.ActionLink("AllDepartments", "AllDepartments", "Three")</li>
    <li class="nav-item">@Html.ActionLink("AllEmployees", "AllEmployees", "Three")</li>
</ul>