@using WebApp.Models;
@model List<Department>
@{
    ViewBag.Title = "Get";
}

<h2>List of Departments</h2>

<div class="table table-striped">
    <div class="row">
        <div class="col-md-6"><b>Department Id</b></div>
        <div class="col-md-6"><b>Department Name</b></div>
    </div>

    @foreach (var d in Model)
    {
        <div class="row">
            <div class="col-md-6">@d.Id</div>
            <div class="col-md-6">@Html.ActionLink(d.Name, "Get", "Department", new { id = d.Id }, null)</div>
        </div>
    }
</div>